#dashboard-container {
  position: relative;
  margin-left: 5%;
  margin-right: 3%;
  .btn-logout {
    position: absolute;
    right: 0;
    top: 4.5%;
    font-size: larger;
    width: 40px;
    height: 40px;
    &:hover {
      cursor: pointer;
    }
  }
  .dashboard {
    background-color: $papayawhip;
    box-shadow: gray 0px 0px 10px;
    height: 80vh;
    border-radius: 10px;

    #avatar {
      position: absolute;
      right: 10%;
      top: 2.5%;
      border: 5px solid $papayawhip;
      border-radius: 50%;
    }

    .feature {
      padding-top: 10px;
      list-style-type: none;
      height: 30vh;
      li {
        width: auto;
        height: 30%;
        width: 70%;
        margin: 5px;
        border-radius: 10px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        background-image: linear-gradient(
          to right,
          #ff6e7f 0%,
          $papayawhip 51%,
          #ff6e7f 100%
        );
        transition: 0.5s;
        background-size: 200% auto;

        .btn-grad:hover {
          background-position: right center;
          text-decoration: none;
        }

        &:hover,
        &:active {
          cursor: pointer;
          background-position: right center;
          text-decoration: none;
          .text {
            flex: 73%;
          }
          .icon-last {
            transition: 1s;
            opacity: 1;
            padding-right: 2%;
          }
        }
        .fa-shopping-cart {
          color: $black;
        }
        .fa-heart {
          color: $out-of-stock-color;
        }
        .icon {
          flex: 10%;
          font-size: 1.5rem;
          margin-left: 5%;
        }
        .text {
          flex: 73%;
        }
        .icon-last {
          opacity: 0;
          color: $papayawhip;
          flex: 1%;
          font-size: 1.5rem;
          text-align: right;
          padding-right: 0;
        }
      }
    }
    .suggest-product {
    }
  }
}
