$opacity-label: rgba(0, 0, 0, 0.2);

$bisque-color: bisque;
$white: white;
$lightgray: lightgray;
$gray: gray;
$black: black;
$plum: plum;
$light-more-gray: #ccc;
$on-sale-color: #85fcb2;
$out-of-stock-color: #f81a1a;
$papayawhip: papayawhip;
$price-light-red: rgb(253, 89, 89, 0.85);
$shadow: rgba(0, 0, 0, 0.5);
$nav-linear-gradient: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
$neumorphism-background-white: #fafafa;
$neumorphism-text-gray: #aaa;
$neumorphism-dark-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
$neumorphism-light-shadow: 5px -5px 10px rgba(255, 255, 255, 0.3);
$btn-shadow: 5px 5px 0 0 $black, -5px -5px 0 0 $black, 6px 6px 0 0 $white,
  -6px -6px 0px 0px $white;
