$opacity-label: rgba(0, 0, 0, 0.2);

$bisque-color: bisque;
$white: white;
$lightgray: lightgray;
$gray: gray;
$black: black;
$plum: plum;
$gray-shadow: #ccc;
$on-sale-color: #85fcb2;
$price-light-red: rgb(253, 89, 89, 0.85);
