#carousel-container {
  grid-area: carousel;
  
  // display:grid;
  // grid:1fr 1fr/1fr 1fr;
  // ?-----  tuong duong
  // ? grid-template-columns: 1fr 1fr;
  // ? grid-template-rows: 1fr 1fr ;

  // ?-----tuong duong
  // ? grid-template-areas:
  // ?     "carousel-item carousel-item"
  // ?     "carousel-item carousel-item";
  // grid-gap:1em;
  //--can noi dung(tat ca pu anh vung chua gird contaner
  //     align-content: center;
  //     justify-content: center;
  //---can ptu con item
  //     align-items: center;
  //     justify-items: center;
  //----cac item tu can quanh vung minh
  // .carousel-item{
  //     align-self: center;
  //     justify-self: center;
  // }
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  // align-items:space-evenly;
  padding: 0.5em;
  margin-right: 0.7em;
  width: 100%;
  height: 100%;
  .carousel-item {
    
    padding: 0.5em;
    margin: 1em 0;
    border: 1px solid $light-more-gray;
    border-radius: 0.5em;
    box-shadow: 1px 1px 10px $shadow;
    img {
      border-radius: 0.5em;
      position: relative;
      top: -1em;
      right: -1em;
      box-shadow: 3px 3px 10px $shadow;
    }
    p {
      position: relative;
      right: -0.8em;
      bottom: 0.3em;
      .price {
        font-size: 1.2em;
        font-weight: bold;
        color: $price-light-red;
      }
      .status-span-onsale {
        background-color: $on-sale-color;
        padding: 0.2em;
        // border-radius: 0.2em;
        border-top-right-radius: 0.2em;
        border-bottom-right-radius: 0.2em;
        border-top-left-radius: 0.2em;
        position: absolute;
        right: -0.4em;
        bottom: 0.1em;
        width: 85.5px;
        text-align: center;
      }
      .status-span-outofstock {
        @extend .status-span-onsale;
        background-color: $out-of-stock-color;
        
      }
    }
    h3 {
      text-align: center;
    }
  }
  .carousel-item:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: scale 1.5s;
  }
}
